<!--
  Generated template for the LoyaltyContactPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="nev-adjust">
    <div class="background hp100">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12757.179162589413!2d88.36297012294024!3d22.550645023993663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02771ca8d8ff83%3A0x934bbc7cccdb29e3!2sUtkarsh%20India%20Limited!5e0!3m2!1sen!2sin!4v1680670330883!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14018.167015242283!2d77.4000334!3d28.5534904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce8b52e3ca2ad%3A0x3bcb8ff622ff06fb!2sPearl%2C%20Precision%20Products!5e0!3m2!1sen!2sin!4v1678105512304!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

    </div>
    
    <div class="cs-nevigation">
      <div class="map-main" >
        <div class="map-content">
          <div class="location brd-btm"  *ngIf="contact.address">
            <i class="material-icons">location_on</i>
            <p>{{contact.address}}</p>
          </div>
          <div class="location" *ngIf="contact.contact_number">
            <i class="material-icons">phone</i>
            <a href="tel:{{contact.contact_number}}">{{contact.contact_number}} </a>
          </div>
          <div class="location" *ngIf="contact.contact_number_2">
            <i class="material-icons">phone</i>
            <a href="tel:{{contact.contact_number_2}}">{{contact.contact_number_2}} </a>
          </div>
          <div class="location" *ngIf="contact.email">
            <i class="material-icons">email</i>
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
          </div>
          <div class="location" *ngIf="contact.url">
            <i class="material-icons">language</i>
            <a href="{{contact.url}}">{{contact.url}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
