<ion-header>
    <ion-navbar>
        <ion-title> {{data.exist_id ? 'Edit Profile' : 'Registration'}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="f.form.valid && submit()">
        <div class="form">
            <ion-list no-lines class="padding10 pt0">
                <div class="select-type" *ngIf="!data.exist_id">
                    <ion-list-header class="heading mt0">
                        {{'Select Type'}}
                    </ion-list-header>
                    <ion-list radio-group name="type" [(ngModel)]="data.type" #type="ngModel" required
                    (ngModelChange)="getRights(data.type)">
                    <ng-container *ngFor="let row of Influencer">
                        <ion-item *ngIf="row.module_name != 'Distributor'">
                            <ion-radio value={{row.type}}></ion-radio>
                            <ion-label>{{row.module_name}}</ion-label>
                        </ion-item>
                    </ng-container>
                </ion-list>
            </div>
            <ng-container *ngIf="data.type">
                <ion-item *ngIf="data.profile">
                    <div class="profile-circle">
                        <i class="material-icons" *ngIf="data.profile == undefined">camera_alt</i>
                        <img *ngIf="data.profile != undefined"
                        src="{{data.profile_edit_id ? uploadurl+data.profile : data.profile}}">
                    </div>
                </ion-item>
                
                <ng-container *ngIf="data.type != 1">
                    <ion-item [ngClass]="{'error':f.submitted && name?.invalid}">
                        <ion-label floating>{{'Company Name'}}<span>*</span></ion-label>
                        <ion-input type="text" name="company_name" #company_name="ngModel" [(ngModel)]="data.company_name" required></ion-input>
                    </ion-item>
                    <div *ngIf="f.submitted && company_name.invalid" class="eror">
                        <p *ngIf="company_name.errors.required">{{'Field is Required'}}</p>
                    </div>
                </ng-container>
                <ion-item [ngClass]="{'error':f.submitted && name?.invalid}">
                    <ion-label floating>{{'Name'}}<span>*</span></ion-label>
                    <ion-input type="text" name="name" #name="ngModel" [(ngModel)]="data.name" required></ion-input>
                </ion-item>
                <div *ngIf="f.submitted && name.invalid" class="eror">
                    <p *ngIf="name.errors.required">{{'Field is Required'}}</p>
                </div>
                
                <ion-item [ngClass]="{'error':f.submitted && mobile_no?.invalid}">
                    <ion-label floating>{{'Mobile Number'}}<span>*</span></ion-label>
                    <ion-input type="number" name="mobile_no" #mobile_no="ngModel" [(ngModel)]="data.mobile_no"
                    required (keypress)="MobileNumber($event)" readonly></ion-input>
                </ion-item>
                <div *ngIf="f.submitted && mobile_no.invalid" class="eror">
                    <p *ngIf="mobile_no.errors.required">{{'Field is Required'}}</p>
                </div>

                <ng-container *ngIf="data.type!=1">
                    <ion-item class="cs-input" [ngClass]="{'error':f.submitted && gst_number?.invalid || gst_number.errors?.pattern}" >
                        <ion-label floating>{{'GST No.'}}</ion-label>
                        <ion-input type="text" id="gst_number" name="gst_number" #gst_number="ngModel" [(ngModel)]="data.gst_number" pattern="^[0-9]{2}[A-z]{5}[0-9]{4}[A-z]{1}[1-9A-z]{1}Z[0-9A-z]{1}$" ></ion-input>
                    </ion-item>
                    <div class="eror">
                    <p *ngIf="gst_number.errors?.pattern">{{'Invaild GST No.'}}</p>
                    </div>
                    
                    
                </ng-container>
              
                
                
                
                <ng-container *ngIf="data.exist_id">
                    <ion-item [ngClass]="{'error':f.submitted && dob?.invalid}">
                        <ion-label floating>{{'Date of Birth'}}</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" max={{today_date}} type="text" name="dob"
                        #dob="ngModel" [(ngModel)]="data.dob">
                    </ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{'Date of Anniversary'}}</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" max={{today_date}} type="text" name="doa"
                    #doa="ngModel" [(ngModel)]="data.doa">
                </ion-datetime>
            </ion-item>
            <ion-item
            [ngClass]="{'error':(f.submitted && email?.invalid) || (f.submitted && !email.valid)}">
            <ion-label floating>{{'Email ID'}}</ion-label>
            <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="data.email"></ion-input>
        </ion-item>

       
   
    </ng-container>
    <ion-list-header class="form-heading">
        {{'Address Information'}}
    </ion-list-header>
    <ion-item
    [ngClass]="{'error':(f.submitted && address?.invalid) || (f.submitted && !address.valid)}">
    <ion-label floating>{{'Address'}}</ion-label>
    <ion-input type="text" name="address" #address="ngModel" [(ngModel)]="data.address"></ion-input>
</ion-item>
<div *ngIf="f.submitted && address.invalid" class="eror">
    <p *ngIf="address.errors.required">{{'Field is Required'}}</p>
</div>



<ion-item [ngClass]="{'error':f.submitted && state?.invalid}">
    <ion-label floating>State <span>*</span></ion-label>
    <ion-select name="state" [(ngModel)]="data.state" #state="ngModel"
    (ngModelChange)="getDistrictList(data.state)" required>
    <ion-option *ngFor="let row of state_list"
    value="{{row.state_name}}">{{row.state_name}}</ion-option>
</ion-select>
</ion-item>
<div *ngIf="f.submitted && state.invalid" class="eror">
    <p *ngIf="state.errors.required">{{'Field is Required'}}</p>
</div>

<ion-item [ngClass]="{'error':f.submitted && district?.invalid}">
    <ion-label floating>District<span>*</span></ion-label>
    <ion-select name="district" #district="ngModel" [(ngModel)]="data.district" required>
        <ion-option *ngFor="let row of district_list"
        value="{{row.district_name}}">{{row.district_name}}</ion-option>
    </ion-select>
</ion-item>
<div *ngIf="f.submitted && district.invalid" class="eror">
    <p *ngIf="district.errors.required">{{'Field is Required'}}</p>
</div>


<ion-item [ngClass]="{'error':f.submitted && city?.invalid}">
    <ion-label floating>{{'City'}}</ion-label>
    <ion-input type="text" name="city" [(ngModel)]="data.city" #city="ngModel"></ion-input>
</ion-item>


<ion-item [ngClass]="{'error':f.submitted && pincode?.invalid}">
    <ion-label floating>{{'Pincode'}}</ion-label>
    <ion-input type="tel" name="pincode" [(ngModel)]="data.pincode" #pincode="ngModel"
    onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="6"
    minlength="6"></ion-input>
</ion-item>
<div *ngIf="f.submitted && pincode.invalid" class="eror">
    <p *ngIf="pincode.errors.required">{{'Field is Required'}}</p>
</div>



<ng-container *ngIf="data.exist_id">

    <ng-container *ngIf="data.type!=3">
        <ion-list-header class="form-heading">
            {{'Document Information'}}
        </ion-list-header>
        
        
        <div class="outer-doc">
            <div class="upload-document" (click)="onUploadChange()">
                <p *ngIf="documentImageFlag == false">
                    <i class="material-icons">add_circle</i><br>{{'Upload Document front side'}}
                </p>
                <img src="{{data.doc_edit_id ? uploadurl+data.document_image : data.document_image}}"
                *ngIf="documentImageFlag == true">
            </div>
            <div class="upload-document mt15" (click)="onUploadBackChange()">
                <p *ngIf="documentBackImageFlag == false"><i
                    class="material-icons">add_circle</i><br>{{'Upload Document back side'}}
                </p>
                <img src="{{data.doc_back_edit_id ? uploadurl+data.document_image_back : data.document_image_back}}"
                *ngIf="documentBackImageFlag == true">
            </div>
        </div>
        
        <ion-item [ngClass]="{'error':f.submitted && adhar_no?.invalid}">
            <ion-label floating>{{'Document Number'}}</ion-label>
            <ion-input type="tel" name="adhar_no" #adhar_no="ngModel" [(ngModel)]="data.adhar_no"
            maxlength="12" minlength="12"></ion-input>
        </ion-item>
        <ion-list-header class="form-heading">
            {{'Pan Card Information'}}
        </ion-list-header>
        
        <div class="outer-doc">
            <div class="upload-document mt15" (click)="onUploadPan()">
                <p *ngIf="panImageFlag == false"><i
                    class="material-icons">add_circle</i><br>{{'Upload Pan Card'}}</p>
                    <img src="{{data.doc_pan_id ? uploadurl+data.pan_img : data.pan_img}}"
                    *ngIf="panImageFlag == true">
                </div>
            </div>
            <ion-item [ngClass]="{'error':f.submitted && pan_no?.invalid}">
                <ion-label floating>{{'Pan Card Number'}}</ion-label>
                <ion-input type="text" name="pan_no" #pan_no="ngModel" [(ngModel)]="data.pan_no"
                class="uppercase" pattern="[A-z]{5}[0-9]{4}[A-z]{1}"></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && pan_no.invalid" class="eror">
                <p *ngIf="pan_no.errors.required">{{'Field is Required'}}</p>
            </div>
            <div *ngIf="pan_no.errors?.pattern" class="eror">
                <div>{{'Invalid Pan Card Number'}}</div>
            </div>
    </ng-container>
    <ng-container *ngIf="data.type!=3">
            <ion-list-header class="form-heading">
                {{'Bank Information'}}
            </ion-list-header>
            <ion-item [ngClass]="{'error':f.submitted && account_holder_name?.invalid}">
                <ion-label floating>{{'Account Holder Name'}}</ion-label>
                <ion-input type="text" name="account_holder_name" ng-pattern-restrict
                #account_holder_name="ngModel" [(ngModel)]="data.account_holder_name "></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error':f.submitted && bank_name?.invalid}">
                <ion-label floating>{{'Bank Name'}}</ion-label>
                <ion-input type="text" name="bank_name " ng-pattern-restrict #bank_name="ngModel"
                [(ngModel)]="data.bank_name "></ion-input>
            </ion-item>
            <ion-item [ngClass]="{'error':f.submitted && Account_no?.invalid}">
                <ion-label floating>{{'Account No.'}}</ion-label>
                <ion-input type="tel" name="Account_no " #Account_no="ngModel"
                [(ngModel)]="data.account_no" minlength="9" maxlength="18"></ion-input>
            </ion-item>
            
            <ion-item [ngClass]="{'error':f.submitted && ifsc_code?.invalid}">
                <ion-label floating>{{'IFSC Code'}}</ion-label>
                <ion-input type="text" name="ifsc_code " #ifsc_code="ngModel"
                [(ngModel)]="data.ifsc_code" pattern="^[A-Z]{4}[0][A-Z0-9]{6}$"></ion-input>
            </ion-item>
            <div *ngIf="ifsc_code.errors?.pattern" class="eror">
                <div>{{'Invalid IFSC Code'}}</div>
            </div>
            <div class="outer-doc">
                <div class="upload-document mt15" (click)="onUploadBankImg()">
                    <p *ngIf="bankImageFlag == false"><i
                        class="material-icons">add_circle</i><br>{{'Upload Cheque/Passbook '}}</p>
                        <img src="{{data.bank_img_id ? uploadurl+data.bank_img :  data.bank_img}}"
                        *ngIf="bankImageFlag == true">
                    </div>
                </div>
            </ng-container>
        </ng-container>
        
        <!-- <ng-container *ngIf="data.type!='11'">
            <ion-list-header class="form-heading">
                {{'Dealer Deatil'}}
            </ion-list-header>
            <ion-item [ngClass]="{'error':f.submitted && dealer_name?.invalid}">
                <ion-label floating>{{'Dealer Name'}}<span>*</span></ion-label>
                <ion-input type="text" name="dealer_name" [(ngModel)]="data.dealer_name"
                #dealer_name="ngModel" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && dealer_name.invalid" class="eror">
                <p *ngIf="dealer_name.errors.required">{{'Field is Required'}}</p>
            </div>
            <ion-item [ngClass]="{'error':f.submitted && dealer_mobile?.invalid}">
                <ion-label floating>{{'Dealer Mobile'}}<span>*</span></ion-label>
                <ion-input type="text" name="dealer_mobile" [(ngModel)]="data.dealer_mobile" minlength="10"
                maxlength="10" #dealer_mobile="ngModel"
                onkeypress="return event.charCode>=48 && event.charCode<=57" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && dealer_mobile.invalid" class="eror">
                <p *ngIf="dealer_mobile.errors.required">{{'Field is Required'}}</p>
            </div>
            <ion-item [ngClass]="{'error':f.submitted && distributor_name?.invalid}">
                <ion-label floating>{{'Distributor Name'}}<span>*</span></ion-label>
                <ion-input type="text" name="distributor_name" [(ngModel)]="data.distributor_name"
                #distributor_name="ngModel" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && distributor_name.invalid" class="eror">
                <p *ngIf="distributor_name.errors.required">{{'Field is Required'}}</p>
            </div>
            <ion-list-header class="form-heading" *ngIf="!data.exist_id">
                {{'Referral Code'}}
            </ion-list-header>
            <ion-item *ngIf="!data.exist_id">
                <ion-label floating>{{'Referral Code'}}</ion-label>
                <ion-input type="text" name="referral_code" #referral_code="ngModel"
                [(ngModel)]="data.referral_code "></ion-input>
            </ion-item>
        </ng-container> -->
        
        
        
        
    </ng-container>
    
</ion-list>

<div class="pl10 pr10" *ngIf="data.type">
    <button ion-button full color="primary" [disabled]="savingFlag == true">
        {{data.exist_id ? 'Update' : 'Continue'}}
    </button>
</div>
</div>
</form>
</ion-content>